.form-create {
  display: flex;
  flex-direction: column;

  width: 75%;
  gap: 20px;

  &__input-container {
    display: flex;
    flex-direction: column;

    &--address {
      gap: 10px;
    }
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 20px;
  }

  &__submit-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 20px;
    margin-bottom: 30px;
  }

  &__submit-button {
    width: 50%;
    height: 40px;

    background-color: #32A632;
    color: white;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;

    outline: none;
    border: none;

    &:hover {
      background-color: #5ac45a;
      transition: 200ms;
    }
  }

  &__input-file {
    display: none;
  }

  &__image {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }

  &__error-label {
    font-size: 14px;
    color: red;
  }

  &__delete-image,
  &__cancel-button {
    width: 50%;
    height: 40px;

    background-color: #E83F5B;
    color: white;
    border: 1px solid #E83F5B;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;

    outline: none;

    &:hover {
      background-color: #d46577;
      border: 1px solid #d46577;
      transition: 200ms;
    }
  }

  &__delete-image {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
  }

  &__label {
    color: white;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: "";
      position: absolute;
      width: 45px;
      height: 3px;
      border-radius: 3px;
      bottom: -5px;
      left: 0;
      background-color: #3FA0FE;
    }
  }

  &__name {
    color: white;
    font-weight: bold;
  }
}